__pycache__/
*.py[cod]
*.so
.build/
dist/
*.egg-info/
.venv/
uv.lock.backup
.ipynb_checkpoints/
.notebooks_cache/
.DS_Store
.idea/
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.env

# ignore output dirs
/data/
/models/
/notebooks/models/

# Ignore scratch notebooks
notebooks/scratch/

# node
node_modules/
web_app/static/*.js
!web_app/static/styles.css # Keep styles if it is manual source

# emacs shrapnel
*~
.#*